#############
## Unity
#############
/Clunge/.DS_Store
/Clunge/Temp/*
/Clunge/Library/previews/*
/Clunge/Library/ScriptAssemblies/*
/Clunge/Library/cache/*
/Clunge/Library/metadata/*
/Clunge/Library/*
!/Clunge/Library/*.asset

/Clunge/*.userprefs
/Clunge/*.sln
/Clunge/*.pidb
/Clunge/*.csproj